<configuration>
    <conversionRule conversionWord="sv" converterClass="ax.xz.logging.ScopedValueConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %sv{ax.xz.wireguard.device.peer.Peer.PEER} %marker %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="ax.xz" level="debug" /> 
</configuration>
